.title-col {
    font-weight: 600;
    font-size: 1.15em;
    color: inherit;
}

.kanban-board {
    overflow: visible;
}

.col-header-input {
    flex-grow: 1;
    margin-right: 10px
}

.col-header-color-btn, .col-header-delete-btn {
    cursor: pointer;
}

.col-header-delete-btn {
    margin-right: 10px;
}


.settings-col-container {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.setting-people-name {
    flex: 1; 
    padding-left: 5px;
}

.setting-people-uninvite {
    height: 20px;
    width: 20px;

}

.setting-invite  {
    .input-group-text {
        background-color: rgba(36, 105, 92, 0.1); 
        color: #24695c;
    }
}
